[submodule "02_maven/GLL4Graph"]
	path = 02_maven/GLL4Graph
	url = https://github.com/FormalLanguageConstrainedPathQuerying/GLL4Graph
[submodule "03_gradle/UTBotJava"]
	path = 03_gradle/UTBotJava
	url = https://github.com/UnitTestBot/UTBotJava
